# These values are intended for local development only.
# Prior to running docker compose, create a new file named ".env" in this directory and copy the contents of this file into it.
SAPASSWORD=password123!
API_PORT=8000
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage-emulator:10000/devstoreaccount1

# DEV Azure Credentials
#AZURE_CLIENT_ID=<CLIENT-ID>
#AZURE_CLIENT_SECRET=<CLIENT-SECRET>
#AZURE_TENANT_ID=<TENANT-ID>

# Mesh
#MESH_PASSWORD=<MESH-PASSWORD>

# ACR
#ACR_NAME=<ACR-NAME>

# Templates tag to be pushed to ACR
#TAG=<TAG>

# Template Tests target image Override
#DataHubFhirServer__TemplateImage=${ACR_NAME}/dev:${TAG}

# Environment variables for data-init container
PACKAGE_ID=fhir.r4.ukcore.stu3.currentbuild
PACKAGE_VERSION=0.0.8-pre-release